In [9]:
import pandas as pd
pd.__version__

'0.20.3'

In [10]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib

In [11]:
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/home/paulo/Downloads/Github/redesoc-2018/lembrando_do_pandas

In [12]:
dados = pd.read_table("cabreuva_limpa.csv", encoding="windows-1252", sep=",")

In [15]:
dados.head()

,Unnamed: 0,ESCOLA,NOME,TURMA,IDDEINQUIRIDO,DATADEINÍCIO,IDADE,ANODENASCIMENTO,SEXO,RELIGIÃO,...,escola_short,serie,eja,idade,grupo_idade,masculino,religion,religiao,raca,corpele
0,1,EE ANA MESQUITA LAURINI,ALAN DAVID ALVES SILVA,1D,4.237477e+09,10/05/2015,16,1999,Masculino,Eu não tenho religião,...,AML,5,1,16,16,1,6,6,3,11
1,2,EE ANA MESQUITA LAURINI,ALAN VIEIRA RIBEIRO,1A,4.233702e+09,10/02/2015,16,1999,Masculino,Religião afro-brasileira (como o Candomblé ou ...,...,AML,5,1,16,16,1,4,4,1,5
2,3,EE ANA MESQUITA LAURINI,ALUAN FIDELIS RIBEIRO DE SOUZA,1B,4.233349e+09,10/02/2015,15,1999,Masculino,Eu não tenho religião,...,AML,5,1,15,15,1,6,6,1,5
3,4,EE ANA MESQUITA LAURINI,AMANDA APARECIDA GOES,1D,4.237431e+09,10/05/2015,16,1999,Feminino,Evangélico (a),...,AML,5,1,16,16,0,2,2,1,7
4,5,EE ANA MESQUITA LAURINI,ANA BEATRIZ ALVES DOS SANTOS,1D,4.237431e+09,10/05/2015,15,1999,Feminino,Católico (a),...,AML,5,1,15,15,0,3,3,3,9

In [16]:
dados.columns

Index(['Unnamed: 0', 'ESCOLA', 'NOME', 'TURMA', 'IDDEINQUIRIDO',
       'DATADEINÍCIO', 'IDADE', 'ANODENASCIMENTO', 'SEXO', 'RELIGIÃO',
       ...
       'escola_short', 'serie', 'eja', 'idade', 'grupo_idade', 'masculino',
       'religion', 'religiao', 'raca', 'corpele'],
      dtype='object', length=117)

In [17]:
dados.idade.mean()

14.700087438064704